/home/ick4/data/pipeline/test_files
/home/ick4/data/pipeline/mpy_single.py
/home/ick4/data/pipeline/pipeline_old.py
/home/ick4/data/pipeline/__pycache__
/home/ick4/data/pipeline/tests
UnO_test/1143560907.fasta
extract_amplicon_from_primersearch_output.py
extract_amplicon_from_primersearch_output_print_minlen.py
extract_amplicon_from_primersearch_output_minlen_copy.py
extract_amplicon_from_primersearch_output.py
/scicomp/home-pure/uel3/HMAS-QC-Pipeline/UnO_test
UnO_test/T3Pio_MRI_Salmonella_Primers.txt
